version: '3'

services:

  api-mini-n8n:
    build: 
      context: ./api-mini-n8n
      dockerfile: Dockerfile
      args:
        - DB_URL=
        - ENCRYPT_KEY=

    ports:
      - "5000:5000"
    env_file:
      - ./api-mini-n8n/.env
    networks:
      - poc-mini-n8n

networks:
  poc-mini-n8n:
    driver: bridge
